<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Animated Navigation Slider</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="index.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata"/>
    </head>
    <body>
        <div class="navigation">
            <ul>
               <li class="home"><a href="#">Home</a></li> 
               <li class="services"><a href="#">Services</a></li> 
               <li class="about"><a href="#">About Us</a></li> 
               <li class="contact"><a href="#">Contact Us</a></li> 
               <span class="slider"></span>
            </ul>
        </div>
        <script src="app.js"></script>
    </body>
</html>